body {
    background-color: slategray;

}

h1 {
    color: aliceblue
}

#primeiro{
    color:blanchedalmond
}
h2{
    color:aliceblue
}
#brainrots{
    color: cyan
}

.titulo{
    color: black
}